.size8{
  width: 8px;
  height: 8px;
}
.font20{
  font-size: 20px;
}
.op16{
  opacity: 0.16;

}
.h40rem{
  height: 40px;
}
.h88{
  height: 88px;
  line-height: 88px;
}
.h8{
  height: 8px;
  line-height: 8px;
}
.h24{
  height: 24px;
  line-height: 24px;

}
.h80{
  height: 80px;
  line-height: 80px;
}
.c191919{
  color: #191919;
}
.c9a571f{
  color: #9a571f;

}
.bcwhite{
  background-color: white;
}
.point{
  cursor: pointer;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.full-screen-height {
  height: 100vh;
}

.full-screen-width {
  width: 100vw;
}

.full-screen-center {
  width: 100vw;
  height: 100vh;
}
.rowstart{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rowend{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rowbetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexbetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rowaround{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.columnend{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.columncenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexwrap{
  // display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.textcenter{
  text-align: center;
}
.textright{
  text-align: right;
}
.justcenter{
  display: flex;
  justify-content: center;
  // align-items: center;
}
.alignstart{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.aligncenter{
  display: flex;
  align-items: center;
}
.rowcenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alignend{
  display: flex;
  align-items: flex-end;
}
.padding20{
  padding: 20px;
}
.scroll{
  overflow: scroll;
}
.maxh630{
  max-height: 630px;

}
.ml50{
  margin-left: 50px;
}

.mr50{
  margin-right: 50px;
}

.mt50{
  margin-top: 50px;
}
.flex1{
  flex: 1;
}
.h40{
  height: 40px;
  line-height: 40px;
}
.h60{
  height: 60px;
  line-height: 60px;
}
.imgCover{
  width: 100%;
  height: 450px;
  // background-image: url("~@/images/lifecycle/base.png");
  background-repeat: round;
  background-size: cover;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.normal-text {
  white-space: normal; /* 允许文字换行 */
  overflow: initial; /* 去掉 overflow 设置 */
  text-overflow: initial; /* 去掉 text-overflow 设置 */
}

.disable-panel {//用于影藏暂未开发的模块
  pointer-events: none;
  opacity: 0.15;
  position: relative;
  &::after {
    content: '功能开发中';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
}